In [35]:
#LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, 
# but returns the greater if one or both numbers are odd

def lesser_of_two_evens(a,b):
    
    # both numbers are even
    if a % 2 == 0 and b % 2 == 0:
        if a<b:
            result = a
        else:
            result = b
    # (OR 2ND METHOD) one or both numbers are odd
    else:
           return max (a,b)
    return result

In [36]:
# check
lesser_of_two_evens(2,4)

2

In [37]:
# check
lesser_of_two_evens(7,5)

7

In [59]:
#ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter

def animal_crackers(text):
    
    # Both begins with same letter
    wordlist = text.lower()
    wordlist = text.split()
    print (wordlist)
    
    return wordlist[0][0] == wordlist[1][0]

In [62]:
# Check
animal_crackers('Levelheaded Llama')

['Levelheaded', 'Llama']

True

In [64]:
# Check
animal_crackers('Crazy Kangaroo')

['Crazy', 'Kangaroo']

False

In [84]:
#MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

def makes_twenty(n1,n2):
    
    return n1+n2==20 or n1==20 or n2==20
    
# OR
     
    if n1 + n2 == 20:
        return True
    elif n1 == 20:
        return True
    elif n2 == 20:
        return True
    else:
        return False

In [85]:
# Check
makes_twenty(20,10)

True

In [86]:
# Check
makes_twenty(2,3)

False

In [87]:
# Check
makes_twenty(12,8)

True

In [96]:
#OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

def old_macdonald(name):
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    
    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

        #OR
    first_half = name[:3]
    second_half[3:]
    return first_half.capitalize() + second_half.capitalize()

In [97]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [116]:
#MASTER YODA: Given a sentence, return a sentence with the words reversed

def master_yoda(text):
    wordlist = text.split()
    reverse_wordlist = wordlist[::-1]
    return ' '.join(reverse_wordlist)

In [117]:
# Check
master_yoda('I am home')

'home am I'

In [118]:
# Check
master_yoda('We are ready')

'ready are We'

In [128]:
#ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

def almost_there(n):

    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [129]:
# Check
almost_there(104)

True

In [130]:
# Check
almost_there(150)

False

In [131]:
# Check
almost_there(209)

True

In [141]:
#FIND 33:  Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [142]:
# Check
has_33([1, 3, 3])

True

In [143]:
# Check
has_33([1, 3, 1, 3])

False

In [144]:
# Check
has_33([3, 1, 3])

False

In [149]:
#PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
def paper_doll(text):
    result = ''
    for char in text:
        result += char*3
    return result

In [150]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [151]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'